.quote-overview {
  .button-container,
  .coverage-options {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .button-container {
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  .premium {
    font-size: 18px;
    font-weight: bold;
  }

  .ant-btn {
    margin-top: 10px;
    width: 160px;
  }
}
